<div>
    <span>{{ model.date }}</span>
    <span>
        <a href="{{ model.issue_url }}">{{ model.issue_id }}</a>
    </span>
    <span>
        <a href="{{ model.commit_url }}" title="{{ model.id }}">details</a>
    </span>
    <span>{{ model.message }}</span>
</div>