<div>
    <span>{{ model.date }}</span>
    <span>{{ model.issue_id }}</span>
    <span>
        <a href="{{ model.url }}" title="{{ model.id }}">Commit Details</a>
    </span>
    <span>{{ model.message }}</span>
</div>